ul {
    display: flex;
    flex-direction: row;
    gap: 16px;

    li {
        list-style: none;

        a {
            text-decoration: none;
            color: black;
            &:hover {
                color: green;
            }
        }
    }
}